@model OwnershipExtendViewModel

@{
    ViewBag.Title = "Продление книги";
}

<h3>Продление книги — @Model.Ownership.Book.Book.Title</h3>
<hr />

<table style="width: 33%">
    <tr>
        <th>
            Ваш баланс
        </th>
        <td class="text-center">
            @Model.Ownership.Subscription.Owner.Balance₽
        </td>
    </tr>
    <tr>
        <th>
            Стоимость книги
        </th>
        <td class="text-center">
            @Model.Ownership.Book.Book.Price₽/день
        </td>
    </tr>
</table>

<div class="row">
    <div class="col-md-12" style="margin-top: 12px">
        <form asp-action="Extend">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" name="Ownership.Id" value="@Model.Ownership.Id" />

            <div class="form-group">
                <label asp-for="Extension" class="control-label">Период</label>
                <input type="number" name="Extension" value="1" min="1" max="@Model.MaxExtension" class="form-control" style="width:33%" />
            </div>

            <div class="form-group">
                <input type="submit" value="Продлить" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Ownership.Subscription.Owner.Id" style="margin-top: 6px" class="btn btn-outline-dark">Назад</a>
</div>